{% load static %}
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href="{% static 'AddQuestion.css'%}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo 2&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="nav-bar row">
                <div class="col-lg-6">
                    <h2 class="nav-head">Admin Panel</h2>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <p class="nav-info"><b>Welcome, {{user.username}}</b></p>&nbsp;&nbsp;
                        <button class="add-student-btn" onclick="regStudent()"><b>Register Student</b></button>
                        <button class="admin-logout-btn" onclick="logoutAdmin()"><b>Logout</b></button>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <div class="container">
                <form class="question-form" action="examformsubmit/" method="POST">
                    {% csrf_token %}
                    <input class="exam-form-input" type="text" name="exam-name" placeholder="Exam Name"><br>
                    <input class="exam-form-input" type="text" name="question-count" placeholder="No Of Questions"><br>
                    <input class="exam-form-input" type="text" name="total-marks" placeholder="Total Marks"><br>
                    <input class="exam-form-input" type="number" name="duration" placeholder="Duration"><br>
                    <input class="exam-form-input" type="date" name="startdate" placeholder=" Start Date"><br>
                    <label style="font-family: 'Baloo 2';" for="starttime">Start Time</label>
                    <input class="exam-form-input" type="time" name="starttime" placeholder="Start Time HH:MM:SS"><br>
                    <label style="font-family: 'Baloo 2';" for="endtime">End Time</label>
                    <input class="exam-form-input" type="time" name="endtime" placeholder="End Time HH:MM:SS"><br>
                    <input class="exam-form-btn" type="submit" value="Next">
                </form>
        </div>
    </body>
    <script>
        function logoutAdmin() {
            window.open("/logout");
        }
        function regStudent() {
            window.open("/signup");
        }
    </script>
</html>